html {
    background: #d3d7d2;
    color: #191919;
}

.title {
    text-align: center;
}

.pure-control-group {
    margin-top: 1em;
}

#message, #number {
    width: 100%;
}

#message {
    height: 15em;
}

.copy-button {
    margin-right: 1em;
}
